// Specific CSS for your home-page
.banner-home {
  background-image: image-url("landing_page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  height: 60vh;
  margin: 0 auto;
  padding: 0 30px 10px 30px;
  h1, h2 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
  }
  h1 {
    width: clamp(25rem, 100%, 40rem);
    font-size: clamp(3rem, 7vw, 3.5rem);
    font-weight: bold;
  }
  h2 {
    width: clamp(22rem, 100%, 45rem);
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    margin-bottom: 1rem;
  }
}

.search-home {
  form {
    display: flex;
    ::placeholder {
      color: rgb(255, 255, 255);
    }
  }
  .form-control {
  width: clamp(18rem, 40vw, 40rem);
  background-color: rgba(255, 255, 255, 0.259) ;
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.600)
    }
  }
}

.city-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-gap: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 30px;
  a {
    text-decoration: none;
  }
}

.card-city {
  background-size: cover;
  width: 300px;
  height: 300px;
  z-index: 0;
  text-align: left;
  word-wrap: break-word;
  transition: z-index 0.2s, all 0.4s cubic-bezier(0.3, 0.59, 0.25, 1);
  box-shadow:  0 4px 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  h1 {
    width: 300px;
    z-index: -5;
    color: rgba(255, 255, 255, 0);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 130px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 0.75;
    transition: all 0.4s;
  }
  &:hover {
    h1 {
      color: rgba(255, 255, 255, 0.65);
    }
    transition: z-index 0.2s, all 0.4s cubic-bezier(0.3, 0.59, 0.25, 1);
    transform: scaleX(1.03);
    filter: grayscale(0.5);
    width: 350px;
    z-index: 10;
  }
}
