.jam--container {
  margin-top: 40px;

  .jam--title {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 45px;
      border-radius: 50%;
      border: $white 3px solid;
    }
  }

  h1 {
    color: $primary;
    font-size: 28px;
    font-weight: bold;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 4px;
  }

  .jam--description {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }

  .user {
    display: flex;
    align-items: center;

    p {
      margin-left: 5px;
      margin-bottom: 0px;
    }
  }
}
