<div class="footer--container">
  <h3>Subscribe For Latest Newsletter</h2>
  <div class="form">
    <div class="container">
      <input type="text" placeholder="Your email" name="mail" required>
      <input type="submit" value="Subscribe">
    </div>
  </div>
</div>
