<div class="footer--container">
  <div class="socials">
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
  </div>
  <p><i class="far fa-copyright"></i> Jams, Inc.</p>
</div>
