<div class="navbar-jam" target="navbar">
  <a class="navbar_logo" href="/">  <img src="https://logopond.com/logos/ae60a0843e2b9b42e5e8b244fcd6d979.png" >  </a>
  <p>Where do you want to join a jam session?</p>
  <h3 class= "sign-up-jam">Sign Up</h2>
  <h3>Log In</h2>
</div>
