
<div class="banner banner-image">
  <div class="container" >
    <h1>Come and Jam with us!</h1>
    <h2>Meet musicians with the same taste that play the same instruments as you and Jam all day!</h2>
  </div>
</div>
<div class="city-list">
  <%= link_to jams_path do %>
    <div class="card-city lisboa">
      <h1>LIS
      BOA</h1>
    </div>
  <% end %>
  <%= link_to jams_path do %>
    <div class="card-city porto">
      <h1>POR
      TO</h1>
    </div>
  <% end %>
  <%= link_to jams_path do %>
    <div class="card-city coimbra">
      <h1>COIM
      BRA</h1>
    </div>
  <% end %>
</div>
