
<div class="banner banner-image">
  <div class="container" >
    <h1>Come and Jam with us!</h1>
    <h2>Meet musicians with the same taste that play the same instruments as you and Jam all day!</h2>
  </div>
</div>
<div class="cards">
  <div class="card">
  </div>
  <div class="card">
  </div>
  <div class="card">
  </div>
</div>
<%= link_to "Lisbon", jams_path %>
