<div class="banner-home">
  <h1>Come and Jam with us!</h1>
  <h2>Meet musicians with the same taste as you and just jam</h2>
  <div class="search-home">
    <%= simple_form_for :search, url: jams_path, method: :get, class: 'form-inline' do |f| %>
      <%= f.input :city, required: true, placeholder: "Where do you want to jam?", label: false %>
      <%= f.button :button, 'Go!', {class: 'btn btn-outline-success mb-3 ml-2'} %>
    <% end %>
  </div>
</div>

<div class="city-list">
  <%= render "city_list" %>
</div>
