<div class='jam--container'>
  <iframe
    width="100%"
    height="300"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYI_MbGD3E-ogKWYvfHay8lQHmi0_1zB0
        &q=Space+Needle,Seattle+WA">
  </iframe>
  <div class="jam--container--top">
    <div class="jam--container--top__info">
      <img src="https://picsum.photos/245/245" alt="">
      <div class="jam--container--top__info__text">
        <h5> <%= @jam.title %></h4>
        <p class='date'> <%= @jam.date %></p>
        <p> <%= @jam.description %></p>
      </div>
    </div>
    <%= link_to 'Back', jams_path, class:'back--link' %>
  </div>

  <h3>Atendees:</h3>
  <div class="atendees--container">
    <div class="atendee--container">
      <div class="atendee--container--info">
        <img src="https://picsum.photos/92/92" alt="">
        <div class="atendee--container--info__text">
          <h5>Hipster_420</h5>
          <p>attending  with guitar</p>
        </div>
      </div>
      <a href="#">Show profile</a>
    </div>
  </div>
</div>
