.navbar {
  justify-content: space-between;
  background: white;
  flex-direction: row;
  height: 60px;
  img {
    width: 120px;
    height: 55px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;

  }
  .search {
    display: flex;
    margin-bottom: 20px;
  }

  .button_postfix {
    margin-top: -9px;
    font-size: large;
    color: white;
    background-color: rgb(35, 166, 240);
    margin-top: 0px;
    margin-bottom: 35px;
    height: 38px;
  }

  .identification {

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 50px;
    .log_in {
      background-color: rgb(255, 255, 255);
      width: 100px;
      border-radius: 5px;
      color: rgb(35, 166, 240);
      font-size: 15px;
      font-weight: bold;
      padding: 8px 13px;
      border:rgb(158, 156, 156);
      font-size: 15px;
    }

    .sign-up {
      background-color: rgb(35, 166, 240);
      border-radius: 5px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 8px 13px;
      }

  }

  .navbar_avatar {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }
}
